.one-list{
    list-style: none;
    width: 100%;
    float:left;
    padding: 0px;
    text-align: left;
  }
.one-list-marked  {
  list-style: none;
  width: 100%;
  float:left;
  padding: 0px;
  text-align: left;
  background-color: rgb(231, 198, 79);
  color: black;
}

  .list-id{
    list-style: none;
    width: 5%;
    border:1px solid white;
    float:left;
    text-align: center;
  }
  .list-name {
    list-style: none;
    width: 45%;
    border:1px solid white;
    float:left;
    text-align:center;
  }
  .list-birthday {
    list-style: none;
    width: 25%;
    border:1px solid white;
    float:left;
    text-align:center;
  }
  .list-points {
    list-style: none;
    width: 25%;
    border:1px solid white;
    float:left;
    text-align:center;
  }
  .without-padding {
    padding-left:0rem;
  }